.container{
  /* background-color: #fffafa; */
  max-width: 1200px;
  margin: auto;
  margin-top: 5%;
}

.color{
  background-color: #fffafa;
}

.App {
  text-align: center;
  background-color: #fffafa;
  margin-left: 40px;
  margin-top: 115px;
  
}



.imag{
     transform: rotate(180deg);
     margin-left: 50px;
     margin-top: 50px;
     float: left;
}



.imeg{
  margin-right: 50px;
  margin-top:-120px;
  float: right;

}

.content{
  font-size: 20px;
  /* position: absolute; */
  /* right: 15%;
  top:25%;*/
  /* display: block;
  max-width: 100%;
  flex-direction: column; */
}



.inContent{
  font-size: 20px;
}



.sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size:medium;
  background-color: hsl(216deg 24% 96%);
  width: 160px;
  z-index: 1;
}

.sidebarcolor{
  color: hsl(247deg 41% 42%);
}

.size{
  font-size: 100%;
}

.downheading{
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 5%; */
  /* width: 100%; */
}



.cards {
  text-align: center;
}



.card:hover {
  transform: translate3D(0,-10px,0); /* move up slightly*/
  transition: 0.3s;
  box-shadow:  5px 5px 20px -2px rgba(0,0,0,.05);
}






















